src/main/resources/cdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="conceptDeterminationMethods" type="conceptDeterminationMethodsType"/>
  <xs:element name="conceptDeterminationMethod" type="conceptDeterminationMethodType"/>
  <xs:complexType name="conceptDeterminationMethodsType">
    <xs:sequence>
      <xs:element type="conceptDeterminationMethodType" name="conceptDeterminationMethod"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conceptMappingType">
    <xs:sequence>
      <xs:element type="toConceptType" name="toConcept"/>
      <xs:element type="fromConceptsType" name="fromConcepts" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="fromConceptsType">
    <xs:sequence>
      <xs:element type="conceptType" name="concept" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="codeSystem" />
    <xs:attribute type="xs:string" name="codeSystemName" />
  </xs:complexType>
  <xs:complexType name="conceptType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="code" />
        <xs:attribute type="xs:string" name="displayName" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="conceptDeterminationMethodType">
    <xs:sequence>
      <xs:element type="conceptMappingType" name="conceptMapping" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element name="timestamp" type="xs:string" />
      <xs:element name="userId" type="xs:string" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="code"/>
    <xs:attribute type="xs:string" name="displayName"/>
    <xs:attribute type="xs:string" name="codeSystem"/>
    <xs:attribute type="xs:string" name="version"/>
  </xs:complexType>
  <xs:complexType name="toConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="codeSystem" />
        <xs:attribute type="xs:string" name="codeSystemName" />
        <xs:attribute type="xs:string" name="code" />
        <xs:attribute type="xs:string" name="displayName" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>